<ion-view view-title="Choose Type">
    <!-- <ion-nav-buttons side="left">
        <button class="button ion-chevron-left" ng-click="goBack()"></button>
    </ion-nav-buttons> -->
  <ion-content class="test">
      <div class="sv-navbar">
          <img class="navbar-button" src="../img/b1.png" ng-click="goBack()"></img>
          <img class="navbar-button" src="../img/b2.png"></img>
          <img class="navbar-button" src="../img/b3.png"></img>
      </div>
      <div class="message-big" style="margin-top:40px; margin-bottom:40px; font-size:20px;">How many pictures will you send ?</div>

      <a href="#/new-sv/1">
          <img class="login-logo" src="../img/onepic.png"></img>
      </a>
      <a href="#/new-sv/2">
          <img class="login-logo" src="../img/twopic.png"></img>
    </a>
  </ion-content>
</ion-view>
