<ion-view view-title="All Contacts">
    <ion-content>
        <!-- <button class="button button-full button-assertive" ng-click='test()'>
        Test
    </button> -->
    <div ng-repeat="contact in contacts">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox" ng-click="toggleContact({{contact.id}})">
            </label>
            {{contact.username}}
        </li>
    </div>
    <button class="button button-full button-assertive" ng-click="sendSV()">
      Send
    </button>
    <div>{{response}}</div>
</ion-content>
</ion-view>
