<ion-view view-title="Groups">
    <ion-nav-buttons side="left">
        <button class="button ion-chevron-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
  <ion-content>
      <div ng-repeat="group in groups">
          <li class="item item-checkbox">
              <label class="checkbox">
                  <input type="checkbox">
              </label>
              {{group.name}}

          </li>
          <a class="button button-assertive" href="#/group-edit/{{group.id}}">
            Edit</a>
      </div>
      <a class="button button-full button-assertive" href="#/group-edit/1">
        Edit Group
        </a>
      <button class="button button-full button-assertive" ng-click="addGroup()">
        New Group
      </button>
      <button class="button button-full button-assertive" ng-click="sendSV()">
        Send
      </button>
      <!-- <div>{{response}}</div> -->
  </ion-content>
</ion-view>
