<ion-view view-title="All Contacts">
    <ion-content>
        <!-- <button class="button button-full button-assertive" ng-click='test()'>
        Test
    </button> -->
    <div ng-repeat="contact in contacts">
        <li class="item item-checkbox">
            <label class="checkbox">
                <input type="checkbox">
            </label>
            {{contact.displayName}}
        </li>
        <!-- <div>{{contact.phoneNumbers[0].normalizedNumber}}</div> -->
    </div>
</ion-content>
</ion-view>
