<ion-view view-title="Login">
<ion-content class="test">
    <div class="sv-navbar">
        <img class="navbar-button" src="./img/b1.png" ng-click="goBack()"></img>
        <img class="navbar-button" src="./img/b2.png"></img>
        <img class="navbar-button" src="./img/b3.png"></img>
    </div>
    <div ng-repeat="contact in contacts" ng-click="login({{contact.id}})">
        <li class="item">
            {{contact.username}}
        </li>
    </div>
    <div>{{response}}</div>
</ion-content>
</ion-view>
