<ion-view view-title="Group Edit">
    <!-- <ion-nav-buttons side="left">
        <button class="button ion-chevron-left" ng-click="goBack()"></button>
    </ion-nav-buttons> -->
    <ion-content class="test">
        <div class="sv-navbar">
            <img class="navbar-button" src="../img/b1.png" ng-click="goBack()"></img>
            <img class="navbar-button" src="../img/b2.png"></img>
            <img class="navbar-button" src="../img/b3.png"></img>
        </div>
        <div class="item groups-edit-title">ADD CONTACTS TO GROUP</div>
        <div class="groups-edit-list-container">

    <div ng-repeat="contact in contacts track by $index"
    class="item contacts-item"
    ng-class="{'contacts-item-toggled': contact.toggled}"
    ng-click="toggleContact(contact)">
            {{contact.username}}
    </div>

</div>
<div class="item groups-edit-footer">
    <div class="button-edit-group" style="float:left;">
      CANCEL
  </div>
    <div class="button-edit-group" style="float:right;" ng-click="addContacts()">
      OK
  </div>
</div>

    <div>{{response}}</div>
</ion-content>
</ion-view>
