<ion-view view-title="Home">
    <!-- <ion-nav-buttons side="left">
        <button class="button ion-chevron-left" ng-click="goBack()"></button>
    </ion-nav-buttons> -->
    <ion-content class="test">
        <div class="item" style="margin-bottom: 25px; padding-left:110px;">Logged in as {{userId}}</div>
        <div class="home-list-container">
            <div class="item home-list-title">Outgoing</div>
            <div ng-repeat="snapvote in outgoing" class="item home-list-item">
                    <b>{{snapvote.title}}</b>
                    <div>
                    <span>
                        {{snapvote.answer_1}}:  {{snapvote.answer_1_count}}
                    </span>
                    <span>
                        {{snapvote.answer_2}}:  {{snapvote.answer_2_count}}
                    </span>
                    </div>
                <div ng-repeat="user in snapvote.voters" class="home-user-item" style="border: none !important;">{{user.id}} {{user.answer_id | test: snapvote.answer_1 :snapvote.answer_2}}</div>
            </div>
            <div class="item home-list-footer">More</div>
        </div>

        <div class="home-list-container">
            <div class="item home-list-title">Incoming</div>
            <div ng-repeat="snapvote in incoming">
                <a class="item home-list-item" href="#/sv-detail/{{snapvote.id}}">
                    <div>
                        <b>{{snapvote.author_username}}</b>
                    </div>
                    {{snapvote.title}}
                </a>

            </div>
            <div class="item home-list-footer">More</div>
        </div>
        <button class="button button-login" ui-sref="choose-type">
            New
        </button>
        <div>{{response}}</div>
    </ion-content>
</ion-view>
