<ion-view view-title="LOGIN">
<ion-content>
    <button class="button button-full button-balanced" ui-sref="register">
      Register Manually
    </button>

    <button class="button button-full button-positive" href="register">
      Facebook Login
    </button>
    <button class="button button-full button-assertive">
      G+ Login
    </button>
    <button class="button button-full button-stable" ng-click="goHome()">
      Home
    </button>
    <button class="button button-full button-stable" ng-click="test()">
      Test
    </button>
    <button class="button button-full button-stable" ui-sref="devlogin">
      DevLogin
    </button>
    <div>{{response}}</div>
</ion-content>
</ion-view>
