<ion-view>
    <ion-content class="test">
        <img class="login-logo" src="../img/svlogo.png"></img>

        <div class="message-big">WELCOME!</div>
        <div class="message-small">Log in with Facebook, Google+ or create a new account.</div>

        <div class="home-button-container">
            <button class="button button-login">
                <img src="../img/fb_logo.png"></img>
                <div>use Facebook</div>
            </div>
            <button class="button button-login">
                <img src="../img/gplus_logo.png"></img>
                <div> use Google+</div>
            </button>
            <button class="button button-login" ui-sref="register">
                <img src="../img/create_new_logo.png"></img>
                <div>create new</div>
            </button>
        </div>
    <button class="button button button-login"  ui-sref="contacts">
        Groups
    </button>
    <button class="button button-login" ui-sref="devlogin">
        DevLogin
    </button>
    <button class="button button-login" ui-sref="home">
        Home
    </button>

<div>{{response}}</div>
</ion-content>
</ion-view>
