<ion-view view-title="Login">
<ion-content class="test">
    <button class="button button button-login" href="register">
      use Facebook
    </button>
    <button class="button button button-login">
      use Google+
    </button>
    <button class="button button button-login" ui-sref="register">
        create new
    </button>
    <!-- <button class="button button button-login" ng-click="goHome()">
      Home
    </button> -->
    <!-- <button class="button button button-login"  ui-sref="contacts.all">
      Groups
    </button> -->
    <button class="button button-login" ui-sref="devlogin">
      DevLogin
    </button>
    <!-- <button class="button button-login" ng-click="openDatePicker()">
      Test
    </button> -->
    <div>{{response}}</div>
</ion-content>
</ion-view>
