<ion-view view-title="New">
  <ion-content>
      <label class="item item-input">
          <span class="input-label">Question</span>
          <input type="text" ng-model="form.question">
      </label>

      <button class="button button-full" ng-click="addPhoto()">
          Take picture
        </button>

      <div ng-class="{'hidden' : type == 2}">
          <img class="picImg" ng-src="{{items[0]}}"/>
      </div>
      <div ng-class="{'hidden' : type == 1}">
          <img class="picImg2" ng-src="{{items[0]}}"/>
          <img class="picImg2" ng-src="{{items[1]}}"/>
      </div>

      <div class="padding">
          <button class="button button-assertive">{{answer1}}</button>
          <button class="button button-assertive">{{answer2}}</button>
      </div>
      <div ng-repeat="answerPair in answers track by $index" class="padding" ng-click="updateAnswers($index)">
          <button class="button button-stable">{{answerPair[0]}}</button>
          <button class="button button-stable">{{answerPair[1]}}</button>
      </div>
      <button class="button button-full button-assertive" ng-click="createSnapvote()" ui-sref="contacts.all">
        Choose contacts
      </button>
  </ion-content>
</ion-view>
