<ion-view view-title="Outgoing">
    <ion-nav-buttons side="left">
        <button class="button ion-chevron-left" ng-click="goBack()"></button>
    </ion-nav-buttons>
  <ion-content>
      <div class="item" style="margin-bottom: 25px; padding-left:110px;">Logged in as {{userId}}</div>
      <div ng-repeat="snapvote in snapvotes">
          <li class="item">
              {{snapvote.title}}
              <div>
                  {{snapvote.answer_1}}  {{snapvote.answer_1_count}}
              </div>
              <div>
                  {{snapvote.answer_2}}  {{snapvote.answer_2_count}}
              </div>
          </li>
          <div ng-repeat="user in snapvote.voters">{{user.id}} {{user.answer_id | test: snapvote.answer_1 :snapvote.answer_2}}</div>
      </div>
      <button class="button button-full button-assertive" ui-sref="choose-type">
        New
      </button>
      <div>{{response}}</div>
  </ion-content>
</ion-view>
