<ion-view view-title="Register">
    <ion-content class="test">
        <label class="item item-input sv-input">
            <input type="text" ng-model="form.name" placeholder="enter your name">
        </label>
        <label class="item item-input sv-input">
            <input type="text" ng-model="form.email" placeholder="enter your email">
        </label>
        <label class="item item-input sv-input">
            <input type="text" ng-model="form.phone" placeholder="your phonenumber">
        </label>
        <label class="item item-input item-select sv-input">
            <div class="input-label">
                country
            </div>
            <select ng-model="form.country">
                <option  ng-repeat="country in countries track by $index" ng-selected="{{country.name === selectedCountry}}">{{country.name}}</option>
            </select>
        </label>
        <button class="button button-login" ng-click="register()">
          CONFIRM
        </button>
        <div>{{response}}</div>
    </ion-content>
</ion-view>
