<ion-view>
    <ion-content>
        <img class="login-logo" src="./img/svlogo.png" style="margin-top: 40px;"></img>

        <div class="message-big">WELCOME!</div>
        <div class="message-small">Log in with Facebook, Google+ or create a new account.</div>
        <!-- <div class="img-new-sv-small">
            <img ng-src="{{path}}" />

            <img class="img-new-sv" ng-src="{{path}}"/>

            <img class="img-new-sv" ng-src="data:image/jpeg;base64,{{items[0]}}"/>
            <div class="take-pic-photo-small ion-ios-camera-outline" ng-click="addPhoto(0)"></div>
            <div class="take-pic-gallery-small ion-ios-photos-outline" ng-click="addPhotoGallery(0)"></div>
        </div> -->
            <button ng-click="facebookSignIn()" class="button button-login">
                <img src="./img/fb_logo.png"></img>
                <div>use Facebook</div>
            </butoon>
            <button class="button button-login">
                <img src="./img/gplus_logo.png"></img>
                <div> use Google+</div>
            </button>
            <button class="button button-login" ui-sref="register">
                <img src="./img/create_new_logo.png"></img>
                <div>create new</div>
            </button>
        </div>
        <button class="button button-login" ui-sref="devlogin">
            DevLogin
        </button>
        <!-- <a href="#/new-sv/1">
            <img class="login-logo" src="./img/onepic.png"></img>
        </a> -->
        <a href="#/contacts/{{2}}" class="options-link">Contacts <a href="#/contacts/{{2}}" class="ion-chevron-right options-arrow"></a></a>

        <a href="#/contacts/{{2}}" class="options-link">Contacts <a href="#/contacts/{{2}}" class="ion-chevron-right options-arrow"></a></a>
        <!-- <button class="button button-login" ng-click="openDatePicker()">
            datepick
        </button>

        <div>{{asdfg | svdate}}</div> -->
        <!-- <button class="button button-login" ui-sref="devlogin">
            DevLogin
        </button>
        <button class="button button-login" ng-click="notfTest()">
            get notification
        </button>
        <div>{{response}}</div> -->

        <!-- <div class="sv-footer">
            <img class="footer-button" src="./img/options.png" ng-click="openOptions()"></img>
        </div>
          <a class="button button button-login"  href="#/contacts/{{1}}">
            Groups
        </a>
        <button class="button button button-login"  ng-click="openOptions()">
            Test
        </button>
        <button class="button button-login" ui-sref="home">
            Home
        </button>
        <div class="hidden options-constainer" ng-class="{'shown' : optionsShown}">
            <div class="options-title" ui-sref="home">
                OPTIONS
            </div>
            <div class="options-item" ui-sref="home">
                Home
                <a class="ion-chevron-right options-arrow"></a>
            </div>
            <div class="options-item">
                <a href="#/contacts/{{2}}">Contacts</a>
                <a href="#/contacts/{{2}}" class="ion-chevron-right options-arrow"></a>
            </div>
            <div class="options-item">
                Edit Profile
                <a class="ion-chevron-right options-arrow"></a>
            </div>
            <div class="options-item" ui-sref="home">
                <a href="#/contacts/{{3}}">Invite Friends</a>
                <a href="#/contacts/{{3}}" class="ion-chevron-right options-arrow"></a>
            </div>
            <div class="options-item" ui-sref="login">
                Logout
                <a class="ion-chevron-right options-arrow"></a>
            </div>
            <div class="options-button" ng-click="closeOptions()">
                OK
            </div>
        </div>
        <div>{{response}}</div> -->
    </ion-content>
</ion-view>
