<ion-view view-title="New">
    <ion-content class="test" scroll="false">
        <div class="sv-navbar">
            <img class="navbar-button" src="./img/b1.png" ng-click="goBack()"></img>
            <img class="navbar-button" src="./img/b2.png"></img>
            <img class="navbar-button" src="./img/b3.png"></img>
        </div>
        <div class="contacts-tabs-container">
            <div class="contacts-tab-button" ng-class="{'contacts-tab-button-selected': type==0}" ng-click="switchTabs(0)">All Contacts</div>
            <div class="contacts-tab-button" ng-class="{'contacts-tab-button-selected': type==1}" ng-click="switchTabs(1)">Groups</div>
        </div>
        <div class="message-small" style="margin-top:15px; text-align:center;">{{selectedContacts.length}} selected contacts</div>

        <div ng-class="{'hidden' : type == 1}">
            <div class="contacts-list-container" style="height:270px;">
            <ion-scroll zooming="true" direction="y" style="max-height: 260px">
                <div ng-repeat="contact in contacts"
                class="item contacts-item"
                ng-class="{'contacts-item-toggled': contact.toggled}"
                ng-click="toggleContact(contact)">
            </ion-scroll>

                <!-- <img class="img-center" src='./img/icon1.png'></img> -->

                <!-- <img class="img-center" ng-src="{{isToggled(contact) && './img/icon1.png' || './img/fb_logo.png'}}"></img> -->

                <div class="button-login-text">{{contact.username}}</div>
            </div>
        </div>
        <div ng-class="{'hidden' : sendSV === false}">
        <img class="snap-it-btn-img" src="./img/icon5.png"></img>
        <button class="button-standard-red" ng-click="sendSV1()">
            SNAP IT!
        </button>
        <img class="snap-it-btn-img" src="./img/icon6.png"></img>
    </div>
    </div>
    <div ng-class="{'hidden' : type == 0}">
        <div ng-class="{'hidden' : groups.length === 0}" class="contacts-list-container" style="max-height:270px;" >
            <ion-scroll zooming="true" direction="y" style="max-height: 260px">
            <div ng-repeat="group in groups"
            class="item contacts-item"
            ng-class="{'contacts-item-toggled': group.toggled}"
            ng-click="toggleGroup(group)">
            {{group.name}}
        </div>
    </ion-scroll>

    </div>
    <div class="groups-button-container">
        <div class="item button-groups" ng-click="editGroup()">
            Edit Group
        </div>
        <div class="item button-groups" style="float:right;" ng-click="addGroup()">
            New Group
        </div>
    </div>
    <div ng-class="{'hidden' : sendSV === false}">
    <img class="snap-it-btn-img" src="./img/icon5.png"></img>
    <button class="button-standard-red" ng-click="sendSV1()">
        SNAP IT!
    </button>
    <img class="snap-it-btn-img" src="./img/icon6.png"></img>
</div>
</div>

<!-- <div>{{response}}</div> -->

</ion-content>
<div class="fixed-outside">
    <div class="sv-footer">
        <img class="footer-button" src="./img/options.png" ng-click="openOptions()"></img>
    </div>
</div>
<!-- <div class="fixed-outside">
    <div class="sv-footer">
        <img class="footer-button" src="./img/options.png" ng-click="openOptions()"></img>
    </div>
</div> -->
</ion-view>
