<ion-view view-title="Register">
    <ion-content scroll="false">
        <div class="sv-navbar">
            <img class="navbar-button" src="./img/b1.png" ng-click="goBack()"></img>
            <img class="navbar-button" src="./img/b2.png"></img>
            <img class="navbar-button" src="./img/b3.png"></img>
        </div>

        <input class="sv-input" type="text" ng-model="form.name" placeholder="Name">
        <input class="sv-input" type="text" ng-model="form.email" placeholder="Email">
        <input class="sv-input" type="text" ng-model="form.phone" placeholder="Email">

    <button id="confirm-register" class="button-standard-red" ng-click="editprofile()">
        SAVE
    </button>
    <!-- <div>{{response}}</div> -->

</ion-content>
</ion-view>
