<ion-view view-title="Home">
    <ion-content class="test">
        <div class="sv-navbar">
            <img class="navbar-button" src="./img/z1.png"></img>
            <img class="navbar-button" src="./img/z2.png"></img>
            <img class="navbar-button" src="./img/z3.png" ui-sref="choose-type"></img>
        </div>

        <div style="text-align:center;">Logged in as: {{userId}}</div>
        <div class="home-list-container">

            <!-- <ion-list ng-repeat='item in items' ng-swipe-right="test()">
                       <ion-item href="#">
                           {{item}}
                       </ion-item>
                   </ion-list> -->

            <div class="home-list-title">OUTGOING</div>
            <div ng-repeat="snapvote in outgoing"
            class="home-list-item"
            ng-click="toggleSV(snapvote)"
            can-swipe="listCanSwipe">
                <span class="outgoing-title">{{snapvote.title}}</span>
                <div>
                    <span class="outgoing-text">
                        {{snapvote.answer_1}}:  {{snapvote.answer_1_count}}
                    </span>
                    &#x25cf;
                    <span>
                        {{snapvote.answer_2}}:  {{snapvote.answer_2_count}}
                    </span>
                    <div class="home-list-date-2">
                        <div>pending</div>
                    </div>
                </div>
                <div ng-repeat="user in snapvote.voters"
                class="home-user-item"
                ng-class="{'hidden' : !snapvote.toggled}"
                style="border: none !important;">{{user.id}} {{user.answer_id | test: snapvote.answer_1 :snapvote.answer_2}}</div>
            </div>
            <div class="home-list-footer">MORE</div>
        </div>

        <div class="home-list-container">
            <div class="home-list-title">INCOMING</div>
            <div ng-repeat="snapvote in incoming">
                <a class="home-list-item" href="#/sv-detail/{{snapvote.id}}">
                    <div>
                        <span class="outgoing-title">{{snapvote.author_username}}</span>
                    </br>
                    {{snapvote.title}}
                    </div>
                    <div class="home-list-date">
                        <div>expires</div>
                        <div>in {{snapvote.expire_date | svdate2}}</div>
                    </div>
            </a>
        </div>
        <div class="home-list-footer">MORE</div>
    </div>

    <!-- <div>{{response}}</div> -->
</ion-content>
<div class="fixed-outside">
    <div class="sv-footer">
        <img class="footer-button" src="./img/options.png" ng-click="openOptions()"></img>
    </div>
</div>
</ion-view>
