<ion-view>
    <ion-content>
        <img class="login-logo" src="./img/svlogo.png" style="margin-top: 40px;"></img>

        <div class="message-big">WELCOME!</div>
        <div class="message-small">Log in with Facebook, Google+ or create a new account.</div>

        <div class="home-button-container">
            <button class="button button-login">
                <img src="./img/fb_logo.png"></img>
                <div>use Facebook</div>
            </div>
            <button class="button button-login">
                <img src="./img/gplus_logo.png"></img>
                <div> use Google+</div>
            </button>
            <button class="button button-login" ui-sref="register">
                <img src="./img/create_new_logo.png"></img>
                <div>create new</div>
            </button>
        </div>
        <button class="button button-login" ui-sref="devlogin">
            DevLogin
        </button>
         <a class="button button button-login"  href="#/contacts/{{1}}">
            Groups
        </a>
        <button class="button button button-login"  ng-click="test()">
            Test
        </button>
        <button class="button button-login" ui-sref="home">
            Home
        </button>

        <!-- <div>{{response}}</div> -->
    </ion-content>
</ion-view>
