<ion-view view-title="New">
    <ion-content>
        <div class="sv-navbar">
            <img class="navbar-button" src="./img/b1.png" ng-click="goBack()"></img>
            <img class="navbar-button" src="./img/b2.png"></img>
            <img class="navbar-button" src="./img/b3.png"></img>
        </div>

        <input class="sv-input-2" type="text" ng-model="inputs.question" placeholder="Subject">

        <div ng-class="{'hidden' : type == 2}" style="position:relative;">
            <img class="img-new-sv-big" ng-src="data:image/jpeg;base64,{{items[0]}}"/>
            <div class="take-pic-photo ion-ios-camera-outline" ng-click="addPhoto(0)"></div>
            <div class="take-pic-gallery ion-ios-photos-outline" ng-click="addPhotoGallery(0)"></div>
        </div>

        <div ng-class="{'hidden' : type == 1}" style="position:relative;">
            <img class="img-new-sv-small" ng-src="data:image/jpeg;base64,{{items[0]}}"/>
            <div class="take-pic-photo2 ion-ios-camera-outline" ng-click="addPhoto(0)"></div>
            <div class="take-pic-gallery2 ion-ios-photos-outline" ng-click="addPhotoGallery(0)"></div>
            <img class="img-new-sv-small" ng-src="data:image/jpeg;base64,{{items[1]}}"/>
            <div class="take-pic-photo3 ion-ios-camera-outline" ng-click="addPhoto(1)"></div>
            <div class="take-pic-gallery3 ion-ios-photos-outline" ng-click="addPhotoGallery(1)"></div>
        </div>

        <div class="padding" ng-click="toggleAnswers()">
            <button class="button button-answer">{{answer1}}</button>
            <button class="button button-answer">{{answer2}}</button>
        </div>
        <div class="answer-dropdown-container"ng-class="{'hidden' : answersHidden}">
        <div class="answer-container">
        <div ng-repeat="answerPair in answers track by $index" ng-click="updateAnswers($index, 0)">
            <button class="button-answer-2-left">{{answerPair[0]}}</button>
        </div>
        </div>
        <div class="answer-container" id="answer-container-right">
        <div ng-repeat="answerPair in answers track by $index" ng-click="updateAnswers($index, 1)">
            <button class="button-answer-2-left">{{answerPair[1]}}</button>
        </div>
       </div>
       </div>
        <div class="message-small" style="text-align:center;">voting period</div>
        <ionic-datepicker input-obj="datepickerObject">
            <div class="button button-standard">{{selectedDate | svdate}}</div>
        <!-- <button class="button button-block button-positive"> {{datepickerObject.inputDate | date:'dd - MMMM - yyyy'}}</button> -->
        </ionic-datepicker>
        <button class="button button-standard" style="margin-top:30px !important;" ng-click="createSnapvote()" ui-sref="contacts">
            select contacts
        </button>
        <div class="sv-footer">
            <img class="footer-button" src="./img/options.png" ng-click="openOptions()"></img>
        </div>
        <!-- <div>{{response}}</div> -->
    </ion-content>
</ion-view>
